.main_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  font-family: monospace;
  margin-left: -730px;
  margin-bottom: -200px;
}

.conme {
  font-family: monospace;
  color: rgb(235, 230, 229);
  font-size: 2.7rem;
  margin-left: 35px;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  border: 0;
  background: #123c3b;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  border: 0;
  background: #1e5a2c;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 20px;
}

li.half {
  width: 50%;
  margin-right: 2%;
  float: left;
  clear: none;
}

li:nth-child(2) {
  margin-left: 0;
}

.first_1 {
  width: 300px;
  margin-top: 215px;
}

iframe {
  margin: auto;
  width: 100%;
  height: 80%;
  border-radius: 16px;
  margin-left: 80px;
  margin-top: 20px;
}

.flat-button {
  color: #ffd700;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  float: right;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  float: right;
  text-align: center;
  margin-right: 10px;
  border-radius: 20px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .main_1 {
    margin-left: auto; /* Center main_1 horizontally */
    margin-right: auto; /* Center main_1 horizontally */
    width: 80%; /* Adjust the width */
    margin-top: 20px; /* Adjust margin-top */
    margin-bottom: 20px; /* Adjust margin-bottom */
  }

  h1 {
    font-size: 2rem; /* Adjust font size */
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center align */
  }

  li.half {
    width: 100%; /* Full width on smaller screens */
  }

  .first_1 {
    width: 100%; /* Full width on smaller screens */
  }
}
